# Environment
.env

# Browser profile
browser_profile/

# Database
database/jobs.db

# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/

# VS Code
.vscode/

# Database
database/jobs.db

# Cache
database/__pycache__/
__pycache__/
*.pyc